---
import Layout from '../layouts/Layout.astro';

const scriptCommand = 'curl -fsSL https://setup-scripts-website.vercel.app/setup.sh | bash'
---

<Layout title="Setup Scripts">
	<main class="flex flex-col justify-items-center items-center">
		<h1 class="scroll-m-20 text-4xl font-bold tracking-tight lg:text-5xl text-center p-2">Setup Scripts</h1>
		<div class="cursor-pointer rounded bg-zinc-300 hover:bg-zinc-200 p-2 flex max-w-2xl content-center justify-around gap-2">
			<pre id="command">{scriptCommand}</pre>
			<img src='/copy.svg' alt="copy icon" />
		</div>
	</main>
</Layout>

<script define:vars={{scriptCommand}}>
    const command = document.getElementById('command');

    command.addEventListener('click', async () => {
      await navigator.clipboard.writeText(command.innerText);

      command.innerText = 'Copied to clipboard!';

      setTimeout(() => {
        command.innerText = scriptCommand;
      }, 1000);
    });
</script>